body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #95c2ba;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}
.App{
  width: 30%;
  margin: 50px auto;
  padding: 10px;
  background-color: #2E4E49;
  min-height: 575px;
}
input,p{
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  font-weight: bold;
}
input ,button,p{
  display:inline-block;
  padding: 10px;
  width:80%;
  margin: 10px 10%;
  color: white;
  
  background-color: #2E4E49;
  
  font-size: 1.2em;
  text-transform: capitalize;
}
button{
  color: white;
  background-color: #0e1110;
  width :40%;
  min-height: 30px;
  margin: 20px 10%;
  border: none;
}
